*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Fraunces', serif ; */
    /* font-family: 'Barlow', sans-serif; */
}

html, body{
    overflow-x: hidden;
}

:root{
    --red: rgb(254, 120, 103);
    --Yellow: rgb(250, 212, 0);
    --cyan : rgb(37, 86, 75); 
    /* (graphic design text) */
    --blue : rgb(25, 83, 107);
    /* (photography text) */
    --cyann : rgb(69, 140, 126);
    /* (footer) */
    
    /* ### Neutral */
    --darkblue: rgb(35, 48, 62);
    --grayishblue: rgb(90, 99, 108);
    --Darkblue: rgb(129, 132, 152);
    --Grayishblue: rgb(167, 171, 174);
    --White: rgb(255, 255, 255);
}

/* header container */
header{
    background-image: url(/images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 20rem;
    position: relative;
}

.header-container{
    padding: 3rem 4rem 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

header img{
    height: 25px;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 20rem;
}

ul a{
    text-decoration: none;
    color: #fff;
}

ul li{
    list-style: none;
    line-height: 30px;
}

#nav-btn{
    /* font-family: 'Barlow', sans-serif; */
    font-family: 'Fraunces', serif ;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 17px;
    border: none;
    border-radius: 30px;
}

header h1{
    font-family: 'Fraunces', sans-serif;
    text-align: center;
    letter-spacing: 4px;
    color: var(--darkblue);
    font-size: 3.5rem;
    margin: 5rem 0 9rem 0;
}

#arrow{
    width: 1.5rem;
    height: 5rem;
    position: relative;
    left: 50%;
}

/* section one */
#section-one{
    width: 100%;
    display: flex;
    font-family: 'Fraunces', serif ;
    /* font-family: 'Barlow', sans-serif;  */
}

.section-one-partA{
    width: 50%;
    padding: 6rem 5rem 6rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-one-partA h2{
    color: var(--darkblue);
    font-weight: 700;
    line-height: 1em;
    font-size: 2.5rem;
    width: 70%;
}

.section-one-partA p{
    /* color: hsl(213, 9%, 39%); */
    color: hsl(210, 4%, 67%);
    line-height: 1.5em;
    font-size: 16px;
    width: 90%;
    margin: 2rem 0;
}

.section-one-partA a{
    text-decoration: none;
    text-transform: uppercase;
    color: hsl(212, 27%, 19%);
}

.section-one-partB{
    width: 50%;
    background: url(/images/desktop/image-transform.jpg);
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px  0 0 0;
}

.section-one-partB img{
    width: 100%;
}

/* section two */
#section-two{
    width: 100%;
    display: flex;
    font-family: 'Fraunces', serif ;
}

.section-two-partB{
    width: 50%;
    padding: 6rem 5rem 6rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-two-partB h2{
    color: hsl(167, 40%, 24%);
    font-weight: 700;
    line-height: 1em;
    font-size: 2rem;
    width: 80%;
}

.section-two-partB p{
    color: hsl(210, 4%, 67%);
    line-height: 1.5em;
    font-size: 16px;
    width: 90%;
    margin: 2rem 0;
}

.section-two-partB a{
    text-decoration: none;
    text-transform: uppercase;
    color: hsl(212, 27%, 19%);
}


.section-two-partA{
    width: 50%;
    background: url(/images/desktop/image-stand-out.jpg);
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px  0 0 0;
}

.section-two-partB img{
    width: 100%;
}

/* section three */
#section-three{
    width: 100%;
    display: flex;
    font-family: 'Fraunces', serif ;
    text-align: center;
}

.section-three-partA{
    width: 50%;
    background: url(/images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
}

.section-three-partA p, .section-three-partB p{
    display: block;
    margin: 0 auto;
    width: 57%;
    padding: 1.5rem 0;
    font-size: 14px;
    line-height: 19px;
    color: rgb(43, 99, 88);
}

.section-three-partA h2 {
    color: rgb(43, 99, 88);
}

.section-three-partA h2, .section-three-partB h2{
    padding: 22rem 0 0 0;
}

.section-three-partB h2{
    color: var(--blue);
}

.section-three-partB{
    width: 50%;
    background: url(/images/desktop/image-photography.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
}   

/* section-four */
#section-four{
    text-align: center;
    padding: 6rem 8rem ;
}

#section-four h2{
    color: var(--Grayishblue);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 0 5rem 0;
}

.section-four-main{
    display: flex;
}

.section-four-one img{
    width: 60px;
    border-radius: 100%;
    margin: 0 auto 2.8rem auto;
}

.section-four-one p{
    width: 90%;
    line-height: 26px;
    color: var(--grayishblue);
    font-weight: 600;
    text-align: center;
    margin: 0 auto 3rem auto;
}

.section-four-two h4{
    color: var(--darkblue);
    font-size: 14px;
    font-family: 'Fraunces', serif ;
    margin: 0 0 10px 0;
    /* font-family: 'Barlow', sans-serif; */
}

.section-four-two p{
    color: var(--Grayishblue);
    font-size: 12px;
}

#p2-text{
    width: 78%;
}

#p3-text{
    width: 89%;
}

:root{
    --red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --cyan : hsl(167, 40%, 24%); 
    /* (graphic design text) */
    --blue : hsl(198, 62%, 26%);
    /* (photography text) */
    --cyann : hsl(168, 34%, 41%);
    /* (footer) */
    
    /* ### Neutral */
    --darkblue: hsl(212, 27%, 19%);
    --grayishblue: hsl(213, 9%, 39%);
    --Darkblue: hsl(232, 10%, 55%);
    --Grayishblue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
} 

/* section five */
#section-five{
    display: flex;
}

#section-five img{
    width: 26%;
}

/* footer */
footer{
    padding: 3rem 0;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    background-color: #90D4C5;
    align-items: center;
    justify-content: center;
}

.footer-two{
    display: flex;
    gap: 1.6rem;
    margin: 0 0 2rem 0;
    color: var(--cyan);
    cursor: pointer;
}

.footer-two p:hover{
    color: hsl(166, 69%, 10%);
}

.footer-one img{
    color: var( --cyann);
} 

.footer-icons{
    display: flex;
    gap: 1rem;
}

.footer-icons img{
    width: 14%;
}

.footer-icons img:hover{
    color: hsl(166, 69%, 10%);
}